@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    box-sizing: border-box; /* Ensures padding and border are included in the element's total width and height */
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
}

.logo img {
    width: 76px;
    height: 42.75px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 24px;
}

nav ul li {
    margin-right: 20px;
}

button {
    padding: 6px 16px;
    height: 31px;
    cursor: pointer;
    font-size: 13px;
    color: white;
    font-weight: 500;
    width: 75px;
    background: #D01C28;
}

.hero {
    display: flex;
    align-items: center;
    height: calc(100vh - 72px);
}

.hero h1 {
    font-weight: 800;
    font-size: 100px;
    line-height: 100px;
}

.hero p {
    font-weight: 600;
    color: grey;
    margin: 36px 0;
}

.hero-button {
    display: flex;
    margin-top: 36px;
}

.first-btn, .secondary-btn {
    height: 41px;
    width: 150px;
    font-size: 20px;
}

.first-btn {
    background: #D01C28;
    color: white;
    margin-right: 40px;
}

.secondary-btn {
    background: transparent;
    color: grey;
}

.hero-shop p {
    font-size: 16px;
    margin: 36px 0 8px;
}

.hero-shops-images img {
    margin-right: 16px;
}
